h2 {
  margin-left: 2em;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.socLogo {
  margin-top: 0.5em;
  margin-left: 2.4em;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  position: relative;
}

.topBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
}
