h2 {
  color: white;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.socLogo {
  margin-top: 0.5em;
  margin-left: 2.4em;
  margin-bottom: 0.3em;
  height: 5em;
  width: 5em;
  position: relative;
}

.header-name {
  margin-left: 1.9em;
}

.topBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03045e;
}
