.main-content {
      background-color: red;
      display: flex;
      flex-direction: row;
}
.libraryComponent {
      display: flex;
}

.main-div {
      background-color: red;
}

.main-library {
      display: flex;
      flex-direction: row;
}
