a {
  font-size: 1.2em;
  margin-left: 0.8em;
}

h3 {
  font-size: 1em;
}

.libraryResultContainer {
  margin: 1em;
  border: solid 1px;
  border-radius: 5px;
  width: 90%;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.libraryResultContainer button {
  padding: 3px;
  margin-left: 1em;
  border-radius: 9px;
}

.week-day {
  display: flex;
  margin-left: 1em;
}

.day-text {
  margin-left: 1em;
}
