.headerContainer {
  display: flex;
  margin-right: 1em;
  align-items: center;
}

.bell {
  width: 2em;
  height: 2em;
  object-fit: contain;
  margin-right: 1em;
}

h2.avatar {
  margin-right: 0.5em;
}

.avatar {
  border-radius: 50%;
  border: 1px solid;
  width: 2rem;
  text-align: center;
}

span {
  font-size: smaller;
  font-weight: 400;
}
