li {
  list-style: none;
  position: relative;
}

li img {
  width: 5em;
  height: 4em;
}

.listContainer {
  width: 10em;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0077b6;
}

.nav-logos {
  margin-top: 5%;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}