li {
  list-style: none;
  position: relative;
}

li img {
  width: 5em;
  height: 4em;
  margin-bottom: 1em;
}

.listContainer {
  width: 10em;
  height: 100%;
  background-color: #0077b6;
  min-height: 100vh;
}

.nav-logos {
  height: 15%;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
}

.link-text{
  color: white;
}
